.containerCalendario {
  width: max-content;
  height: calc(100vh - 60px);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 0 25px;
}

.navigation_calendar {
  display: flex;
  gap: 15px;
  justify-self: flex-start;
  width: 100%;
  color: black;
  font-weight: bold;
}

.navigate_title {
  text-transform: capitalize;
  font-size: 32px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

/* CONTENEDOR */
.react-calendar {
  /* min-height: 300px; */
  /* max-width: 800px; */
  /* background: white; */
  border: 1px solid #a0a096;
  /* line-height: 1.125em; */
  color: black;
  /* font-weight: 600; */
  padding: 5px 50px;
  background-color: transparent;
  border: none;
}

/* NUMEROS */
.react-calendar__tile:enabled {
  margin-top: 8px;
  width: 150px;
  height: 90px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  position: relative;
}

.react-calendar__tile:enabled abbr {
  position: absolute;
  top: 15px;
  left: 15px;
}

/* /////////////////////////////////////////////////////////// */

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
  display: none;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

/* NOMBRES DIAS */
.react-calendar__month-view__weekdays__weekday {
  padding: 5px 15px;
  user-select: none;
  font-size: 20px;
  color: #ae7565;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 800;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days {
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__label {
  width: fit-content;
  padding: 5px 15px;
  pointer-events: none;
  user-select: none;
}

/* DIAS RESTANTES */
.react-calendar__month-view__days__day--weekend {
}

/* DIAS ANTERIORES */

.react-calendar__month-view__days__day--neighboringMonth {
  color: #bbbbbb;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  background-color: black;
}

/* FONDO DIAS */

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
  font-weight: 600;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

/* DIA ACTUAL */
.react-calendar__tile--now {
  background: #ff0000;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/* FECHAS MARCADAS */

.fecha-marcada {
  color: black;
  position: relative;
}

.fecha-marcada::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  top: 5px;
  right: 100;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__days {
}

.my-custom-calendar .react-calendar__month-view__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
